<div class=" content">

    <div class="container">
   
    </div>
    

  <button style="margin: 50px" class="btn btn-success btn-lg">Mostrar</button>
  <button style="margin: 40px" class="btn btn-success btn-lg">Crear</button>
  <button style="margin: 50px" class="btn btn-success btn-lg">Actualizar</button>
  <button style="margin: 40px" class="btn btn-success btn-lg">Borrar</button>

   
   
   
   
    <table class="compact nowrap table table-dark table-hover table-sm" datatable [dtOptions]="dtOptions"
      [dtTrigger]="dtTrigger">
      <tbody>
        <tr *ngFor="let clientes of contenido" class="">
          <td>{{clientes.cedulacliente}}</td>
          <td>{{clientes.nombrecliente}}</td>
          <td>{{clientes.direccioncliente}}</td>
          <td>{{clientes.telefonocliente}}</td>
          <td>{{clientes.emailcliente}}</td>
        </tr>
      </tbody>
    </table>
  </div>
