<div class=" content">

    <div class="container">

    </div>

    <div class="form-group">
        <form id="userForm">
            <div class="form-group">
                <label for="name">Cédula</label>
                <input type="text" id="cedula" formControlName="cedulacliente" class="form-control" />
                <button style="margin: 40px" class="btn btn-success btn-lg"> Consultar Cédula</button>
                <label for="name">Cliente</label>
                <input type="text" id="cedula" formControlName="cedulacliente" class="form-control" />
                <input type="text" id="cedula" formControlName="cedulacliente" class="form-control" />
            </div>
        </form>
    </div>



</div>