<div class=" content">


  <div class="text-center">
    <input class="form-control" type="file" (change)="onChange($event)">

    <button (click)="onUpload()" class="btn btn-success">
      Subir Archivo
    </button>
  </div>
  <div class="container">
    <h3 *ngFor="let dato of resultados; let i = index">
      Dato {{i}} obtuvo codigo {{dato[0]}}
    </h3>
  </div>


  <table class="compact nowrap table table-dark table-hover table-sm" datatable [dtOptions]="dtOptions"
    [dtTrigger]="dtTrigger">

    <thead>
      <tr>
      <th>ID Producto</th>
      <th>Código Producto</th>
      <th>IVA Compra</th>
      <th>NIT Proveedor</th>
      <th>Nombre Producto</th>
      <th>Precio Compra</th>
      <th>Precio Venta</th>
      
      </tr>
      
      </thead>
    <tbody>
      <tr *ngFor="let Producto of contenido" class="">
        <td>{{Producto.id}}</td>
        <td>{{Producto.codigoproducto}}</td>
        <td>{{Producto.ivacompra}}</td>
        <td>{{Producto.nitproveedor}}</td>
        <td>{{Producto.nombreproducto}}</td>
        <td>{{Producto.preciocompra}}</td>
        <td>{{Producto.precioventa}}</td>
      </tr>
    </tbody>
  </table>
</div>