<div class=" content">


  <div class="text-center">
    <input class="form-control" type="file" (change)="onChange($event)">

    <button (click)="onUpload()" class="btn btn-success">
      Subir Archivo
    </button>
    {{recibido}}
  </div>
  <div class="container">
    <h3 *ngFor="let dato of resultados; let i = index">
      Dato {{i}} obtuvo codigo {{dato[0]}}
    </h3>
  </div>


  <table class="compact nowrap table table-dark table-hover table-sm" datatable [dtOptions]="dtOptions"
    [dtTrigger]="dtTrigger">
    <tbody>
      <tr *ngFor="let productos of contenido" class="">
        <td>{{productos.id}}</td>
        <td>{{productos.codigoproducto}}</td>
        <td>{{productos.ivacompra}}</td>
        <td>{{productos.nitproveedor}}</td>
        <td>{{productos.nombreproducto}}</td>
        <td>{{productos.preciocompra}}</td>
        <td>{{productos.precioventa}}</td>
      </tr>
    </tbody>
  </table>
</div>